html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.tab {
    padding-left: 25px;
}


h2 {
    padding-top: 20px;
}

p {
    font-family: "Lato", sans-serif;
    line-height: 1.25;
}

.footer {
    padding: 20px 40px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 10px;
    color: #777;
}